.txtcnt {
  position: absolute;
  right: 150px;
  height: 100vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.txtAbout {
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-weight: bold;
  color: rgb(105, 25, 255);
  margin-right: 540px;
  font-family: "Roboto";
  margin-bottom: 10px;
}
.txtTitle {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 50px;
  margin: 0;
  padding: 0;
  margin-right: 350px;
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}
@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
.txtPara {
  line-height: 26px;
  width: 573.917px;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  opacity: 0.7;
  margin-right: 20px;
  margin-top: 3 0px;
  text-align: left;
}
.hirebtn {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  /* letter-spacing: px; */
  margin-top: 140px;
  margin-left: 250px;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Oswald";
}

.hirebtn:before,
.hirebtn:after {
  content: "";
  padding: 1em 0.5em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 20px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

.hirebtn:before {
  border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.hirebtn:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);
}
@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  .txtcnt {
    right: 100px;
    margin-top: 30px;
  }
  .txtAbout {
    margin-right: 415px;
  }
  .txtTitle {
    font-size: 45px;
    margin-right: 250px;
  }
  .txtPara {
    line-height: 23px;
    width: 450.917px;
    font-size: 18px;
    margin-right: 25px;
    margin-top: 2 0px;
  }
  .hirebtn {
    font-size: 35px;
    margin-top: 100px;
    margin-left: 230px;
  }
  hirebtn:before,
  .hirebtn:after {
    content: "";
    padding: 1em 0.5em;
    left: 50%;
    width: 100%;
    top: 50%;
    border: 18px solid;
  }
  .hirebtn:before {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }

  .hirebtn:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
    box-shadow: 23px 23px 23px rgba(46, 46, 49, 0.8);
  }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .txtcnt {
    right: 20px;
    margin-top: 30px;
  }
  .txtAbout {
    margin-right: 240px;
  }
  .txtTitle {
    font-size: 35px;
    margin-right: 120px;
  }
  .txtPara {
    line-height: 23px;
    width: 270.917px;
    font-size: 18px;
    margin-right: 25px;
    margin-top: 2 0px;
  }
  .hirebtn {
    font-size: 25px;
    margin-top: 50px;
    margin-left: 130px;
  }
  .hirebtn:before,
  .hirebtn:after {
    content: "";
    padding: 1em 0.5em;
    left: 50%;
    width: 100%;
    top: 50%;
    border: 15px solid;
  }
  .hirebtn:before {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }

  .hirebtn:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
    box-shadow: 23px 23px 23px rgba(46, 46, 49, 0.8);
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .txtcnt {
    right: 55px;
    /* margin-top: 30px; */
    position: absolute;
    height: 50vh;
    margin-top: 300px;
  }
  .txtAbout {
    margin-right: 220px;
    font-size: 23px;
  }
  .txtTitle {
    font-size: 32px;
    margin-right: 120px;
  }
  .txtPara {
    line-height: 23px;
    width: 250.917px;
    font-size: 17px;
    margin-right: 0px;
    margin-top: 2 0px;
  }
  .hirebtn {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;
  }
  .hirebtn:before,
  .hirebtn:after {
    content: "";
    padding: 0.8em 0.4em;
    left: 50%;
    width: 100%;
    top: 50%;
    border: 10px solid;
  }
  .hirebtn:before {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }

  .hirebtn:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
    box-shadow: 20px 20px 20px rgba(46, 46, 49, 0.8);
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .txtcnt {
    right: 18px;
    position: absolute;
    height: 50vh;
    margin-top: 300px;
  }
  .hirebtn {
    font-size: 18px;
    margin-top: 35px;
    margin-left: 100px;
  }
}
