.abtcnt {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(11, 11, 74, 1) 52%,
    rgba(9, 43, 50, 1) 100%
  );
  display: flex;
  flex-direction: row;
}
/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
}
