.workctn {
  min-height: 170vh;
  width: 100%;
  background: url("/public/assets/images/future-grid.webp"),
    linear-gradient(#141e30, #243b55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .svgcnt {
  width: 100wh;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.svg1 {
  height: 50px;
  width: 50px;
  margin-left: 100px;
  border-radius: 10%;
}
.svg2 {
  height: 50px;
  width: 50px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-right: 50px;
} */

.scrolldown1 {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 35px;
  cursor: pointer;
}

.scrolldown1::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim1 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim1 {
  0% {
    opacity: 0;
    height: 3px;
  }
  40% {
    transform: translate(0, 20px);
    opacity: 0;
    height: 10px;
  }
  80% {
    height: 10px;
    opacity: 1;
  }
  100% {
    height: 6px;
    opacity: 0;
  }
}
.chevrons1 {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;

  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chevrondown1 {
  margin-top: -6px;
  position: absolute;
  top: -15px;
  left: 5px;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(225deg);
}
.chevrondown12 {
  margin-top: -13px;
  position: absolute;
  top: -15px;
  left: 5px;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(225deg);
}
.chevrondown1:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown12:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

.scrolldown2 {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 35px;
  cursor: pointer;
}

.scrolldown2::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
.chevrons2 {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chevrondown2 {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.chevrondown2:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown2:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
#PropertySlider {
  height: 650px;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#PropertySlider::-webkit-scrollbar {
  display: none;
}

.product-image:hover img {
  transition: all 0.3s ease-out;
}
.product-image:hover img {
  transform: scale(1.2, 1.2);
}
.header {
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  .workctn {
    min-height: 140vh;
    width: 100%;
  }
  .scrolldown1 {
    margin-bottom: 10px;
    margin-top: 26px;
  }
  .scrolldown2 {
    margin-bottom: 16px;
    margin-top: 30px;
  }
  #PropertySlider {
    height: 610px;
  }
  .btncnt {
    margin-bottom: 25px;
  }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .header {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
    background-size: 80%;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .workctn {
    min-height: 130vh;
    width: 100%;
  }
  .header {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    background-size: 80%;
  }
  .scrolldown1 {
    margin-bottom: 15px;
    margin-top: 23px;
  }
  .scrolldown2 {
    margin-bottom: 16px;
    margin-top: 25px;
  }
  #PropertySlider {
    height: 440px;
  }
  .btncnt {
    margin-bottom: 15px;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .workctn {
    min-height: 120vh;
    width: 100%;
  }
  .header {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    background-size: 80%;
  }
  #PropertySlider {
    height: 440px;
  }
}
